body{
    background-color: rgb(140, 143, 134);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    font-size: 50px;
}

h1{
    color: rgb(61,83,104);
    text-align: center;
    border-style: color;
    font-size: 50px;
}

p{
    font-family: Verdana;
    
    font-size: 30px;
}